@charset "utf-8";
/*--------------editortool start------------------*/
.dark_overlay {
    z-index: 29999;
}
.editor-hidden {
    display: none;
}
.modal {
    top: 40px;
    left: 40px;
    background: #444444;
}
    .modal.file-selector-modal .file-selector-help {
        position: relative;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 50%;
        margin-left: 10px;
        background: #333333;
        color: #eeeeee;
        font-size: 12px;
    }
    .modal.embed-modal > .modal-wrapper{
        width: 450px;
    }
        .modal.embed-modal > .modal-wrapper > .modal-content > .embed-input {
            width: 100%;
            height: 100px;
            margin-top: 20px;
            padding: 5px;
            color: #444444;
            font-size: 17px;
            border-radius: 5px;
            border: none;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            resize: none;
        }
            .modal.embed-modal > .modal-wrapper > .modal-content > .embed-input.error {
                border: 1px solid #ec6446 !important;
            }
            .modal.embed-modal > .modal-wrapper > .modal-content > .embed-input:focus {
                border: 1px solid #48cfad;
                box-shadow: 0px 0px 5px rgba(81, 203, 238, 1);
            }
        .modal.embed-modal > .modal-wrapper > .modal-content > .embed-help {
            width: 100%;
            color: #eeeeee;
            font-size: 14px;
            font-weight: 200;
            cursor: pointer;
            text-align: right;
        }
            .modal.embed-modal > .modal-wrapper > .modal-content > .embed-help:hover {
                text-decoration: underline;
            }
            .modal.embed-modal > .modal-wrapper > .modal-content > .embed-help.selected {
                text-align: left;
                font-size: 12px;
            }
        .modal.embed-modal > .modal-wrapper > .modal-content > .embed-error {
            position: absolute;
            top: 32px;
            right: 10px;
            color: #ec6646;
            font-size: 14px;
            font-weight: 200;
            cursor: default;
            text-align: right;
        }
        .modal.embed-modal > .modal-wrapper > .modal-wrapper > .embed-bt-wrapper {
            margin-top: 20px;
            text-align: center;
        }

.modal.thumbnail-modal > .modal-wrapper > .modal-content > .thumb-inner-wrapper {
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.modal.thumbnail-modal > .modal-wrapper > .modal-content > .thumb-inner-wrapper > .thumb-preview-wrapper {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 250px;
    padding: 10px 20px 10px 10px;
    border-right: 1px solid #333333;
    margin-right: 20px;
    overflow: hidden;
}
.modal.thumbnail-modal > .modal-wrapper > .modal-content > .thumb-inner-wrapper > .thumb-img-change {
    position: absolute;
    top: -25px;
    right: 0;
    color: #eeeeee;
    font-size: 14px;
    font-weight: 200;
    cursor: pointer;
}
    .modal.thumbnail-modal > .modal-wrapper > .modal-content > .thumb-inner-wrapper > .thumb-img-change > .fa-refresh {
        margin-right: 5px;
    }
    .modal.thumbnail-modal > .modal-wrapper > .modal-content > .thumb-inner-wrapper > .thumb-img-change:hover {
        text-decoration: underline;
    }
.modal.thumbnail-modal > .modal-wrapper > .modal-content > .thumb-inner-wrapper > .thumb-editor-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: top;
    max-width: 420px;
    min-width: 420px;
    max-height: 500px;
}
    .modal.thumbnail-modal > .modal-wrapper > .modal-content > .thumb-inner-wrapper > .thumb-editor-wrapper > .thumb-placeHolder {
        width: 100%;
        height: 270px;
        line-height: 270px;
        background : #aaaaaa;
        color: #444444;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
    }
        .modal.thumbnail-modal > .modal-wrapper > .modal-content > .thumb-inner-wrapper > .thumb-editor-wrapper > .thumb-placeHolder:hover {
            opacity: 0.8;
        }
    .modal.thumbnail-modal > .modal-wrapper > .modal-content > .thumb-inner-wrapper > .thumb-editor-wrapper img.thumb-origin-img {
        width: 100%;
    }
.modal.setting-modal > .modal-wrapper > .modal-content > .setting-inner-wrapper {
    width: 700px;
    text-align: left;
    margin-top: 20px;
}
    .setting-inner-wrapper .setting-input-label {
        font-size: 14px;
        color: #eeeeee;
        font-weight: 200;
        margin-bottom: 10px;
    }
    .setting-inner-wrapper .setting-input {
        width: 300px;
        padding: 5px 10px;
        background: #222222;
        color: #eeeeee;
        font-weight: 200;
        font-size: 14px;
        border: none;
        border-radius: 3px;
        box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.7);
    }
    .setting-inner-wrapper .setting-input.cc-inner-wrapper {
        text-align: center;
        height: 44px;
        padding: 10px;
    }
    .setting-inner-wrapper textarea {
        width: 300px;
        height: 130px;
        padding: 5px 10px;
        background: #222222;
        color: #eeeeee;
        font-weight: 200;
        font-size: 14px;
        border: none;
        border-radius: 3px;
        box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.7);
        resize: none;
    }
        .setting-inner-wrapper .setting-input > * {
            color: #eeeeee;
            font-weight: 200;
            font-size: 14px;
            vertical-align: middle;
        }
        .setting-input > input {
            width: 100px;
            background: transparent;
            color: #eeeeee;
            font-weight: 200;
            font-size: 14px;
            border: none;
        }
    .modal.setting-modal > .modal-wrapper > .modal-content > .setting-inner-wrapper > .setting-inner-left {
        display: inline-block;
        width: 50%;
        min-height: 100px;
        padding: 0px 15px;
        border-right: 1px solid #333333;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        vertical-align: top;
    }
    .modal.setting-modal > .modal-wrapper > .modal-content > .setting-inner-wrapper > .setting-inner-right {
        display: inline-block;
        width: 50%;
        min-height: 100px;
        padding: 0px 15px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
        .modal.setting-modal > .modal-wrapper > .modal-content > .setting-inner-wrapper .setting-input-wrapper {
            margin: 10px 0px;
        }
        .modal.setting-modal > .modal-wrapper > .modal-content > .setting-inner-wrapper .setting-input-wrapper > .cc-setting-bt {
            color: #eeeeee;
            font-size: 13px;
            font-weight: 200;
            cursor: pointer;
            text-align: right;
            margin-top: 8px;
        }
            .modal.setting-modal > .modal-wrapper > .modal-content > .setting-inner-wrapper .setting-input-wrapper > .cc-setting-bt > i {
                margin-right: 5px;
            }
            .modal.setting-modal > .modal-wrapper > .modal-content > .setting-inner-wrapper .setting-input-wrapper > .cc-setting-bt:hover {
                text-decoration: underline;
            }
        .modal.setting-modal > .modal-wrapper > .modal-content > .setting-inner-wrapper .setting-inner-right .cc-list-wrapper {
            margin-top: 5px;
        }
        .modal.setting-modal > .modal-wrapper > .modal-content > .setting-inner-wrapper .setting-inner-right .cc-list {
            position: relative;
            width: 35px;
            display: inline-block;
            margin: 0px 8px;
        }
            .modal.setting-modal > .modal-wrapper > .modal-content > .setting-inner-wrapper .setting-inner-right .cc-list > img {
                width: 100%;
            }
    .hashTag-input-wrap .hashtag-wrapper {
        display: inline-block;
        text-align: left;
    }  
    .hashTag-input-wrap .hashtag-wrapper > .hashtag-list {
        position: relative;
        display: inline-block;
        max-width: 80px;
        height: 16px;
        color: #eeeeee;
        font-size: 13px;
        font-weight: 200;
        padding: 3px 20px 3px 5px;
        margin-right: 4px;
        border-radius: 3px;
        border: 1px solid #111111;
        background: #222222;
        box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
        word-wrap: break-word;
        overflow: hidden;
        cursor: default;
    }
        .hashTag-input-wrap .hashtag-wrapper > .hashtag-list > i {
            position: absolute;
            top: 6px;
            right: 5px;
            color: #cccccc;
            font-size: 12px;
            margin-left: 6px;
            cursor: pointer;
        }
    .modal.cc-setting-wrapper {
        width: 580px;
        padding: 15px;
        padding-top: 32px;
    }
    .modal.cc-setting-wrapper > .cc-setting-inner-wrapper {
        padding: 0px;
        border: 1px solid #222222;
        border-radius: 5px;
        overflow: hidden;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .modal.cc-setting-wrapper > .cc-setting-inner-wrapper .cc-title-wrapper {
        padding: 10px;
        background: #666666;
    }
        .modal.cc-setting-wrapper > .cc-setting-inner-wrapper .cc-title-wrapper > input[type="radio"] {
            margin-top: 6px;
            margin-right: 12px;
            vertical-align: top;
        }
        .modal.cc-setting-wrapper > .cc-setting-inner-wrapper .cc-title-wrapper > .cc-title {
            color: #eeeeee;
            font-size: 20px;
            font-weight: 200;
        }
    .modal.cc-setting-wrapper > .cc-setting-inner-wrapper .cc-checklist-wrapper {
        padding: 10px;
        background: #333333;
        box-shadow: inset 0px 0px 200px 0px rgba(0,0,0,0.7);
    }
        .modal.cc-setting-wrapper > .cc-setting-inner-wrapper .cc-checklist-wrapper > .cc-checklist {
            margin: 10px 0px;
        }
        .modal.cc-setting-wrapper > .cc-setting-inner-wrapper .cc-checklist-wrapper > .cc-checklist > .cc-checkbox {
            margin-right: 12px;
        }
        .modal.cc-setting-wrapper > .cc-setting-inner-wrapper .cc-checklist-wrapper > .cc-checklist > .cc-desc {
            color: #eeeeee;
            font-size: 14px;
            font-weight: 200;
        }

.editor-wrapper{
    position: relative;
    width: 100%;
}
.editor-wrapper > .editor-header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: #4a4a4a;
    z-index: 202;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}
.editor-wrapper > .editor-body{
    position: relative;
    width: 100%;
    height: 100%;
    background: #222222;
}
    .editor-body > .editor-aside{
        position: fixed;
        left: 0;
        top: 0;
        width: 50px;
        height: 100%;
        margin-top: 50px;
        padding-top: 20px;
        background: #333333;
        z-index: 201;
        box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.5);
        text-align: center;
        border-right: 1px solid #222222;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .editor-body > .editor-aside > .toolbox-wrap {
        position: fixed;
        display: inline-block;
        top: 50px;
        left: 50px;
        padding: 20px;
        margin-top: 50px;
        padding-top: 20px;
        min-width: 250px;
        background: #282828;
        z-index: 90;
        box-shadow: 3px 5px 10px -3px rgba(0,0,0,0.6);
        text-align: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
        #sortTool-toolbox {
            width: 300px;
        }
    .editor-body > .editor-aside > .toolbox-wrap.modal {
        position: fixed;
        display: inline-block;
        top: 40px;
        left: 40px;
        padding: 0;
        z-index: 10000;
        min-width: 450px;
        min-height: 300px;
        border-radius: 5px;
        box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.7);
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
        .editor-body > .editor-aside > .toolbox-wrap > .toolbox-inner {
            position: relative;
            margin-bottom: 20px;
        }
        .editor-body > .editor-aside > .toolbox-wrap.modal > .toolbox-inner {
            position: relative;
            width: 100%;
            margin-top: 20px;
        }
        .editor-body > .editor-aside > .toolbox-wrap.modal > .modal-wrapper > .toolbox-inner {
            width: 100%;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            margin: 15px auto;
        }
            .grid-edit-window {
                width: 800px;
                height: 400px;
                background: #222222;
                box-shadow: inset 0px 0px 60px 0px rgba(0,0,0,0.7);
            }
            .toolbox-inner > .toolbox-label {
                font-size: 15px;
                color: #dddddd;
                font-weight: 200;
                margin-bottom: 10px;
            }
            .toolbox-inner > .toolbox-btns {
                display: inline-block;
                width: 100%;
                text-align: center;
            }
            .toolbox-inner > .toolbox-btns.grid-btns {
                margin-top: 30px;
            }
                .toolbox-btns > .btn {
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    vertical-align: middle;
                    margin: 0px 5px
                }
                .toolbox-btns > .btn.grid-btn {
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                }
                    .toolbox-btns > .btn.grid-btn > img {
                        width: 80%;
                        vertical-align: middle;
                    }
                    .toolbox-btns > .btn > i {
                        font-size: 13px;
                        color: #ffffff;
                    }
            .toolbox-inner input[type="range"] {
                width: 150px;
            }
    .grid-inner-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        background: #444444;
        border: 1px solid #ffffff;
    }
        .grid-devider {
            width: 100%;
            height: 100%;
            display: inline-block;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
            .grid-devider > .grid-img-wrapper {
                display: inline-block;
                width: 100%;
                height: 100%;
                vertical-align: middle;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                overflow: hidden;
            }
            .grid-devider > .grid-img-wrapper > img {
                height: 100%;
            }
            .grid-placeHolder {
                position: relative;
                width: 100%;
                height: 100%;
                color: #eeeeee;
                font-weight: 200;
                font-size: 17px;
                background: rgba(0,0,0,0.7);
                cursor: pointer;
                text-align: center;
            }
                .grid-placeHolder:hover {
                    opacity: 0.6;
                }
                .grid-placeHolder > i {
                    margin-right: 15px;
                    font-size: 30px;
                }
        .top, .bottom {
            height: 50% !important;
            vertical-align: middle;
        }
        .left, .right {
            width: 50% !important;
            vertical-align: top;
        }

    .sort-ul {
        position: relative;
        width: 100%;
        min-height: 200px;
        max-height: 400px;
        margin-top: 20px;
        padding: 10px;
        background: #222222;
        box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.6);
        overflow-x : hidden;
        overflow-y : scroll;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .sort-ul > .sort-li {
        position: relative;
        width: 100%;
        height: 50px;
        background: #444444;
        margin: 3px 0px;
        cursor: row-resize;
    }
        .ui-sortable-helper {
            box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.6);
        }
        .sort-li > .canvas-content {
            width: 100%;
        }
            .sort-li > .sort-obj img {
                width: 50px;
                height: 50px;
                vertical-align: middle;
            }
            .sort-li > .sort-obj iframe {
                width: 50px;
                height: 50px;
                vertical-align: middle;
            }
            .sort-li > .sort-obj i {
                position:  absolute;
                color: #222222;
                font-size: 25px;
                top: 13px;
                right: 10px;
            }
            .sort-li > .sort-obj p {
                width: 200px;
                height: 50px;
                line-height: 50px;
                padding-left: 10px;
                text-align: left !important;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-weight: 200;
                font-size: 15px !important;
                color: #eeeeee;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
            }
                .sort-li > .sort-obj p * {
                    max-width: 200px;
                    height: 50px;
                    line-height: 50px;
                }
    .sort-btn {
        width: 100px;
        height: 30px;
        line-height: 30px;
        margin: 0px auto;
        margin-top: 20px;
        background: #222222;
        color: #eeeeee;
        font-weight: 200;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
    }
        .sort-btn:hover {
            background: #333333;
        }

    .editor-body > .editing-background{
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: #2a2a2a;
        box-shadow: inset 0px 0px 370px 0px #000000;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        z-index: 50;
    }
        .editor-body > .editing-area {
            position: relative;
            width: 100%;
            height: 100%;
            padding-left: 50px;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            z-index: 51;
        }
        .editor-body > .editing-area > .editing-canvas{
            width: 90%;
            width: -webkit-calc(100% - 310px);
            width: -moz-calc(100% - 310px);
            width: calc(100% - 310px);
            min-width: 1000px;
            min-height: 350px;
            position: relative;
            margin: 50px auto;
            background: #ffffff;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
        }

.editor-body > .editing-area > .editing-canvas > .canvas-obj {
    position: relative;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
    .editor-body > .editing-area > .editing-canvas > .canvas-obj.obj-header {
        height: 45px;
        padding: 0;
    }
    .editor-body > .editing-area > .editing-canvas > .canvas-obj.obj-footer {
        height: 50px;
        padding: 0;
    }
    .editor-body > .editing-area > .editing-canvas > .canvas-obj.obj-body {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .editor-body > .editing-area > .editing-canvas .canvas-uploader-wrap {
        position: absolute;
        width: 100%;
        height: 35px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
        .editor-body > .editing-area > .editing-canvas .canvas-uploader-wrap:hover {
            border: 1px dashed #aaaaaa;
        }
        .editor-body > .editing-area > .editing-canvas .canvas-uploader-wrap > .canvas-uploader-bt {
            position: absolute;
            top: -10px;
            left: 50%;
            margin-left: -150px;
            width: 300px;
            height: 50px;
            line-height: 50px;
            border: 1px solid #222222;
            border-radius: 5px;
            background: #444444;
            color: #999999;
            z-index: 5;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
            padding: 5px;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
            .canvas-uploader-bt > span {
                display: inline-block;
                height: 100%;
                line-height: 42px;
                font-size: 14px;
                font-weight: 200;
                vertical-align: top;
                color: #ffffff;
            }
            .canvas-uploader-bt > i {
                font-size: 27px;
                margin-left: 20px;
                cursor: pointer;
            }
                .canvas-uploader-bt > i:hover {
                    color: #ffffff;
                }
    .editor-body > .editing-area > .editing-canvas > .obj-body > .canvas-obj.canvas-content{
        position: relative;
        margin: 0 7%;
        transition: margin 0.2s;
    }
    .editor-body > .editing-area > .editing-canvas > .obj-body > .canvas-content:hover {
        border: 1px dashed #48cfad;
    }
        .editor-body > .editing-area > .editing-canvas > .obj-body > .canvas-obj.canvas-content > img{
            width: 100%;
            vertical-align: middle;
        }
        .editor-body > .editing-area > .editing-canvas > .obj-body > .canvas-obj.object-text.focused{
            border: 1px dashed #48cfad;
        }
        .editor-body > .editing-area > .editing-canvas > .obj-body > .canvas-obj.canvas-content > .canvas-input{
            width: 100%;
            min-height: 25px;
            border: none;
            vertical-align: middle;
            text-align: center;
            font-size: 20px;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        .object-text> .obj-menu-btn{
            top: -8px !important;
        }
        .editor-body > .editing-area > .editing-canvas > .obj-body > .canvas-obj.canvas-content > .obj-menu-btn {
            position: absolute;
            display: inline-block;
            top: 10px;
            right: 10px;
            width: 40px;
            height: 40px;
            line-height: 45px;
            background: #48cfad;
            border-radius: 50%;
            box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.5);
            text-align: center;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            cursor: pointer;
        }
            .editor-body > .editing-area > .editing-canvas > .obj-body > .canvas-obj.canvas-content > .obj-menu-btn > i {
                color: #ffffff;
                font-size: 22px;
            }
            .editor-body > .editing-area > .editing-canvas > .obj-body > .canvas-obj.canvas-content > .obj-menu-btn > .obj-menu {
                position: relative;
                top: -23px;
                right: -18px;
                width: 140px;
                height: auto;
                line-height: 20px;
                background: #444444;
                border: 1px solid #222222;
                border-radius: 3px;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                z-index: 60;
            }
               .editor-body > .editing-area > .editing-canvas > .obj-body > .canvas-obj.canvas-content > .obj-menu-btn > .obj-menu > .obj-menu-list {
                    position: relative;
                    width: 100%;
                    color: #aaaaaa;
                    font-size: 15px;
                    font-weight: 200;
                    text-align: left;
                    padding: 8px;
                    border-bottom: 1px solid #333333;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
               }
               .editor-body > .editing-area > .editing-canvas > .obj-body > .canvas-obj.canvas-content > .obj-menu-btn > .obj-menu > .obj-menu-list[data-value="delete"]{
                    color: #ec6446;
               }
               .editor-body > .editing-area > .editing-canvas > .obj-body > .canvas-obj.canvas-content > .obj-menu-btn > .obj-menu > .obj-menu-list:hover {
                    color: #ffffff;
               }
    .editor-body > .editing-area > .editing-canvas > .obj-body > .canvas-devider-wrap{
        position: relative;
        height: 50px;
    }
    .editor-body > .editing-area > .editing-canvas > .obj-body > .canvas-devider-wrap > .canvas-devider{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .editor-body > .editing-area > .editing-canvas > .obj-body > .canvas-obj.placeHolder {
        height: 450px;
        background: #eeeeee;
        cursor: pointer;
        color: #aaaaaa;
        padding-top: 190px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
        .editor-body > .editing-area > .editing-canvas > .obj-body > .canvas-obj.placeHolder > p {
            font-size: 14px;
            color: #aaaaaa;
        }
        .editor-body > .editing-area > .editing-canvas > .obj-body > .canvas-obj.placeHolder > i {
            font-size: 40px;
            margin-bottom: 10px;
        }
.tooltip.tip-body.fileinfo {
    position: fixed;
    z-index: 10000;
    top: 108px;
    right: 10px;
    background: rgba(0,0,0,0.6);
    text-align: left;
}
    .tooltip.tip-content.fileinfo {
        text-align: left;
    }


.header-btn-wrapper {
    display: inline-block;
    float: left;
}
.header-prog-wrapper {
    display: inline-block;
    float: right;
}
    .current-prog {
        color: #ffffff !important;
        border-bottom: 3px solid #48cfad;
        text-shadow: 0px 0px 10px rgba(255,255,255,0.7);
    }
        .current-prog > i {
            color: #ffffff !important;
        }
.header-btn {
    position: relative;
    display: inline-block;
    min-width: 100px;
    height: 50px;
    line-height: 53px;
    padding: 0px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 200;
    color: #aaaaaa;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
    .header-btn-wrapper > .header-btn {
        border-right: 1px solid #333333;
    }
    .header-prog-wrapper > .header-btn {
        border-left: 1px solid #333333;
        letter-spacing: 0.01px;
    }
    .header-btn:hover {
        background: #5a5a5a;
    }
    .header-btn > i {
        margin-top: -3px;
        margin-right: 10px;
        color: #222222;
        font-size: 20px;
        vertical-align: middle;
    }

.btn {
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 45px;
    margin: 0px auto;
    padding: 0;
    border: none;
    background: #333333;
    color: #5a5a5a;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: pointer;
}
    .btn.selected {
        background: #222222 !important;
        box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5) !important;
        color: #ffffff !important;
        text-shadow: 0px 0px 10px rgba(255,255,255,0.7);
    }
    .btn:hover{
        background: #444444;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    }
    .btn:active{
        background: #222222;
        box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
    }
    .btn > i {
        font-size: 18px;
    }
/*--------------editortool end------------------*/
#test{
    width: 100%;
    margin: 0px auto;
}
.slider-wrapper{
    width: 160px !important;
}