@charset "utf-8";
#contents{
    position:relative;
    width:100%;
    height:100%;
}

#post_subject_area{
    position:absolute;
    width:100%;
    height:50px;
    background:#222;
}


#work_space{
    width:100%;
    padding:20px 0px;
    padding-bottom: 40px;
    text-align: center;
    top: 50px;
}
.note-editor.note-frame{
    
}
.panel-default > .panel-heading{
    width: 100%;
    height: 45px;
    position: relative;
    float: none;
    top: 0;
    border-right: none !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
    .note-popover .popover-content > .btn-group, .panel-heading.note-toolbar > .btn-group{
        border-bottom: 0px solid;
        margin: 0px 5px !important;
    }
    .dropdown-toggle .caret{
        display: block;
        margin: 0px auto;
    }
.note-editor.note-frame .note-editing-area{
    left: 0;
}

    .note-editor.note-frame .note-editing-area .note-editable{
        padding: 10px !important;
    }
    

#work_inner{
    width: 100%;
    max-width: 1248px;
    display: inline-block;
    text-align: left;
    margin: 0px auto;
    padding: 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
    .properties_box{
        width: 100%;
        text-align: left;
        display:inline-block;
    }
        #uploader_com{
            display:block;
        }
        .work_title{
            display: inline-block;
            width: 100%;
            font-size: 18px;
            color: #444;
            font-weight: 400;
            vertical-align: top;
            margin: 10px 0px;
            text-align: left;
        }
        .write_box_com{
            width: 100%;
            height: 40px;
            border: none;
            padding: 5px;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
            .write_box_com:focus{
                border:1px solid #48cfad;
                box-shadow: 0px 0px 5px rgba(81, 203, 238, 1);
            }


    #main_work_space{
        width: 100%;
        background:#fff;
        border-radius: 3px;
        display: inline-block;
        vertical-align: top;
    }
    
    
    .tooltip_bt{
        min-width: 70px;
        height: 20px;
        line-height: 20px;

        top:48px;
        left:0px;
        padding:3px;
        
        background:rgba(0,0,0,0.9);
        border-radius: 3px;
        color:#fff;
        font-weight: 200;
        font-size:12px;
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
        
        z-index: 1;  
        cursor:default;
        display: none;
        position:absolute;
    }



    #file_import_bt{
        display: inline-block;
        width:120px;
        height:35px;
        line-height: 35px;
        border-radius: 3px;
        background:#888888;
        color:#fff;
        font-size: 15px;
        font-weight: 200;
        text-align:center;
        cursor:pointer;
    }
        #file_import_com{
            opacity:0;
        }
        #file_text_com{
            width:300px;
            height:35px;
            background: #ffffff;
            border:none;
            color:#aaaaaa;
            font-weight: 200;
            text-overflow:ellipsis;
            margin-right: 10px;
        }
#community_submit{
    display: block;
    width: 200px;
    height: 55px;
    line-height: 55px;
    border: none;
    background: #48cfad;
    color: #ffffff;
    font-size: 20px;
    margin: 20px auto;
    cursor: pointer;
}





