@charset "utf-8";

#personal_view {
	width: 100%;
	position: relative;
}
.con_wrap {
    background:#282828;
}
.con_aside {
	float: left;
	border-left: none;
}
	#user_information {
		width: 100%;
		display: block;
		position:  relative;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	#userinfo_main {
		padding: 20px 5px;
	}
		#user_pic {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			overflow: hidden;
			display: inline-block;
		}
			#user_pic img {
				width: 100%;
			}
		#userinfo_main h4 {
			line-height: 40px;
			display: inline-block;
			font-size: 22px;
			color: #48cfad;
			margin-left: 10px;
			vertical-align: top;
		}
		#userinfo_main h5 {
			margin-top: 10px;
			padding: 5px;
			font-size: 15px;
			font-weight: 200;
			color: #aaaaaa;
			text-align: left;
			word-break: break-all;
		}

	#subnav {

	}
	    #personal_aside .subnav_li {
	        width: 100%;
	        height: 45px;
	        line-height: 45px;
	        cursor: pointer;
	        text-align: left;
	        padding-left: 50px;
	        box-sizing: border-box;
	        -webkit-box-sizing: border-box;
	        -moz-box-sizing: border-box;
	    }
	    #personal_aside .subnav_li:hover{
	        background:#444444;
	    }
        #personal_aside .subnav_li a {
	        color: #aaaaaa;
            display: inline-block;
            width: 100%;
            font-weight: 200;
        }
        	#personal_aside .subnav_li.selected a {
				font-weight: 400;
				color: #ffffff;
				text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
        	}
	    .subnav_li.selected{
	        border-left: 5px solid #48cfad !important;
	        font-weight: 400;
	        color:#48cfad !important;
	        padding-left: 43px !important;
	        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	    }
.con_main {
	padding-right: 0;
	padding-left: 250px;
	background: #f0f0f0;
}
/*------------dash board start------------------*/
#dashboard_wrap {
	width:100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 25px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.dash_section {
	width: 100%;
	max-width: 1200px;
	background: #ffffff;
	position: relative;
	margin: 25px 0px;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.dash_header {
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #eeeeee;
}
	.dash_header h4 {
		float: left;
		display: inline-block;
		padding-left: 10px;
		font-weight: 200;
		font-size: 22px;
		color: #444444;
	}
	.dash_header i {
		width: 50px;
		height: 50px;
		line-height: 50px;
		float: right;
		font-size: 25px;
		color: #444444;
		cursor: pointer;
	}
		.dash_header i:hover {
			background: #fafafa;
		}
.dash_body {
	position: relative;
	min-height: 150px;
}
	.dash_body_sector {
		display: inline-block;
		position: relative;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	.insight_total {
		
	}
		#total_like .dash_body_content{
			
		}
		#total_view .dash_body_content{
			
		}
		#total_upload .dash_body_content{
			
		}
		#total_download .dash_body_content{
		
		}
	.x2 {
		
	}
		.x2_inner {
			height: 75px;
			border-bottom: 1px solid #eeeeee;
		}
			.x2_inner:last-child {
				border-bottom: none;
			}
		.dash_body_title {
			font-size: 15px;
			color: #444444;
			text-align: left;
			font-weight: 200;
			padding : 5px 0px 0px 10px;
		}
		.dash_body_content {
			max-height: 126px;
			line-height: 40px;
			margin-top: 20px;
			color: #444444;
			font-size: 28px;
			text-align: center;
			overflow: hidden;
		}
			.dash_body_content .content_text {
				font-size: 28px;
				color: #444444;
				min-height: 20px;
			}
			.x2_inner .dash_body_content {
				display: block;
				line-height: 40px;
				color: #444444;
				font-size: 28px;
			}
			.x2_inner a:hover {
				opacity: 0.7;
			}
#creator_month {
    overflow:hidden;
}
#creator_month_body{
    height:250px;
    display: none;
}
#dash_creator_infobox {
    width:35%;
}
#dash_creator_info{
    width: 100%;
    max-width: 1000px;
    position: relative;
    height: 300px;
    margin: 0px auto;
    position:relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
    #dash_creator_info_background{
        width: 100%;
        max-width: 1000px;
        height: 300px;
        background: url(../../../Lubycon_Contents/contents/vector/vectorjpg/12.jpg) no-repeat 50% 46%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-filter: blur(3px) brightness(0.7);
        -moz-filter: blur(3px) brightness(0.7);
        -o-filter: blur(3px) brightness(0.7);
        -ms-filter: blur(3px) brightness(0.7);
        filter: blur(3px) brightness(0.7);
        overflow: hidden;
    }
    #dash_creator_info_p{
        position: absolute;
        top: 50px;
        left: 50%;
        margin-left: -50px;
    }
    #dash_creator_pic_frame{
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
        background: #488ccb;
        margin: 0px auto;
    }
        #dash_creator_pic_frame img{
            width: 100%;
        }
    #dash_creator_info ul{
        width: 100%;
        max-width: 1000px;
        position:relative;
        margin:0px auto;
    }
        #dash_creator_name{
            height:50px;
            font-size: 36px;
            color:#ffffff;
            text-align: center;
            text-shadow: 0px 3px 3px #000;
        }
        #dash_creator_job{
            height:35px;
            font-size:21px;
            color: #ffffff;
            text-align: center;
            font-weight: 200;
        }
        #dash_creator_location{
            height: 14px;
            text-align: center;
        }
            #dash_creator_location p{
                display: inline-block;
                font-size:14px;
                color: #ffffff;
                font-weight: 200;
            }
            #dash_creator_location i{
                display: inline-block;
                color: #ffffff;
                margin-right: 5px;
            }

    #dash_creator_desc{
        width: 100%;
        display: inline-block;
    }
        #dash_creator_desc p{
            margin: 20px 0px;
            font-size: 20px;
            font-weight: 200;
            text-align: center;
            padding: 10px;
        }

#dash_creator_placed {
    width:25%;
}
#dash_creator_placed .dash_body_content {
    line-height: 276px;
}
#dash_creator_interview {
    width:40%;
    height:100%;
}
#dash_creator_interview .dash_body_content {
    line-height: 25px;
    font-size: 16px;
    text-align: left;
    margin-bottom: 0px;
    padding: 10px;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
    #dash_creator_interview a{
        position: absolute;
        bottom: -40px;
        right: 8px;
        color: #444444;
    }
    #dash_creator_interview a:hover{
    	opacity: 0.7;
    }
.history_wrap {
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
	.history_list {
		text-align: left;
	}

		.history_date {
			text-align: right;
			display: inline-block;		
			font-weight: 200;
			color: #aaaaaa;
			padding: 10px 0px;
			padding-right: 10px;
		}

		.history_kind {
			text-align: center;
			position: relative;
			display: inline-block;
		}
			.history_kind .fa-circle {

			}
				#work_experience .fa-circle {
					color: #48cfad;
				}
				#education .fa-circle {
					color: #6eabe3;
				}
				#awards .fa-circle {
					color: #ffbe54;
				}	
			.history_kind span {
				height: 30px;
				position: absolute;
				bottom: 23px;
				left: 19px;
				border-right: 3px solid;
			}
				#work_experience span {
					border-color: #48cfad;
				}
				#education span {
					border-color: #6eabe3;
				}
				#awards span {
					border-color: #ffbe54;
				}
		.history_content {
			display: inline-block;
			color: #444444;
			font-weight: 200;
			font-size: 16px;
		}
#history_desc {
	position: absolute;
	top: 0;
	right: 0;
	width: 160px;
	height: 100%;
	border-left: 1px solid #eeeeee;
	text-align: left;
	padding: 10px 0px 0px 10px;
}
	.history_desc_list {
		font-size: 14px;
		color: #aaaaaa;
		margin: 3px 0px;
	}
		.history_desc_list .fa-circle {
			font-size: 14px;
			margin-right: 5px;
		}
		#work_desc .fa-circle {
			color: #48cfad;
		}
		#edu_desc .fa-circle {
			color: #6eabe3;
		}
		#award_desc .fa-circle {
			color: #ffbe54;
		}
		.history_desc_list span {
			font-weight: 200;
		}
.insight_total .dash_body_content {
	font-size: 66px;
	font-weight: bold;
}
#total_counts {
	background: #ffffff;
}
#dash_chart_wrap {
	background: #ffffff;
	border-top: 1px solid #eeeeee;
	position: relative;
}
	#chart_body_title {
		color: #444444;
	}

	#dash_chart_wrap .chart_title {
		position: absolute;
        display: inline-block;
        top: 23px;
        right: 40px;
        text-align: center;
        border-radius: 5px;
        padding: 3px 10px;
        cursor: pointer;
    }
    #dash_chart_wrap .chart_title:hover {
        background: rgba(0,0,0,0.1);
    }
        #dash_chart_wrap .chart_title #chart_icon {
            color: #48cfad;
            margin-right: 10px;
            font-size: 20px;
        }
         #dash_chart_wrap .chart_title #chart_name {
            color: #444444;
            font-weight: 200;
            font-size: 23px;
            margin-right: 10px;
        }
         #dash_chart_wrap .chart_title #toggle_arrow {
            color: #444444;
            font-size: 17px;
        }
	 #dash_chart_wrap #chart_selector {
        display: none;
        position: absolute;
        z-index: 1;
        top: 65px;
        right: 40px;
        width: 130px;
        padding: 4px;
        border-radius: 5px;
        background: rgba(0,0,0,0.8);
        font-size: 15px;
    }
         #dash_chart_wrap .chart_list {
        	text-align: left;
            border-radius: 5px;
            padding: 5px;
            color: #ffffff;
            font-weight: 200;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
         #dash_chart_wrap .chart_list:hover {
            background: rgba(100,100,100,0.6);
            cursor: pointer;
        }
            #dash_chart_wrap .chart_list i {
                margin-right: 10px;
            }

.chartboxes {
	margin-top: 30px;
}
#chartdiv1 {
    display: block;
}
#chartdiv2 {
    display: none;
}
#chartdiv3 {
    display: none;
}
#chartdiv4 {
    display: none;
}



.clock_wrap {
	margin-top: 25px;
}
	.ampm {
		display: inline-block;
		font-weight: 200;
		color: #48cfad;
	}
	.clock {
		display: inline-block;
		font-size: 50px;
		font-weight: 200;
	}
		#usertime .clock {
			color: #48cfad;
		}
		#localtime .clock {
			color: #48cfad;
		}
	.colon {
		font-weight: 200;
	}
	.time_location {
		position: absolute;
		top: 0;
		right: 0;
		padding: 5px 10px 0px 0px;
		font-size: 15px;
		font-weight: 200;
		color: #48cfad;
	}
		#user_location {

		}
		#local-location {

		}








