@charset "utf-8";

#web-gl {
	width: 100%;
	height: 90%;
	margin: 20px auto;
	margin-top: 20px;
	position: relative;
	overflow: hidden;
}

	#web-gl > .ui-panel {
		width: 100%;
		height: 40px;
		line-height: 40px;
		background: rgba(0,0,0,0.6);
		position: absolute;
		transition: top 0.3s, bottom 0.3s;
	}
		.ui-panel.top {
			top: -40px;
		}
		.ui-panel.bottom {
			bottom: -40px;
		}
	#web-gl .ui-list {
		color: #ffffff;
		text-align: left;
		font-weight: 200;
		margin-right: 10px;
	}
		.ui-panel.top .ui-list {
			float: right;
		}
		.ui-panel.bottom .ui-list {
			float: left;
		}
		#web-gl .ui-list .counter {
			display: inline-block;
			color: #48cfad;
			margin-right: 5px;
		}
	#web-gl > canvas {
		width: 100% !important;
	}