@charset "utf-8";
#aboutus_body {
    text-align:center;
    position: relative;
}
.aboutus_section{
    width: 100%;
    height: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#aboutus_nav {
    position: fixed;
    right: 30px;
    z-index: 3;
    background: transparent;
    text-align: center;
}
    #aboutus_nav ul{
        text-align: center;
    }
    #aboutus_nav .nav_circle{
        display: block;
        width: 10px;
        height: 10px;
        margin: 10px auto;
        border-radius: 50%;
        background: #dddddd;
        cursor: pointer;
    }
    #aboutus_nav .nav_circle:hover{
        background: #48cfad;
    }
        #aboutus_nav .nav_circle.selected{
            width: 12px;
            height: 12px;
            background: #48cfad;
        }

#aboutus_main{
    position: relative;
    text-align: center;    
}
#aboutus_figure {
    position: absolute;
    z-index: 1;
    width: 100%; 
    background: transparent url("../ch/img/about_us/background.jpg") repeat scroll 51% 38%;
    background-size: 100%;
}
.aboutus_photo {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url("../ch/img/about_us/object.png");
    background-position: 50% 50%;
    background-size: 700px;
    background-repeat: no-repeat;
    z-index: 1;
}
.aboutus_photo .photo_overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#descript_lubycon {
    position: relative;
    z-index: 2;
    padding-top: 0px;
}
    #lubyLogo {
        width: 320px;  
    }
    .descript_subject, .descript_article {
        color:#ffffff;
    }
    .descript_subject {
        font-size: 40px;
        padding: 20px 0px;
        font-weight: 200;
    }
    .descript_article {
        padding: 10px 0px;
        font-size: 18px;
        font-weight: 200;
    }

#focus_section {

}
    #focus_main_title{
        padding: 30px 0px;
        color: #444444;
        font-size: 50px;
    }
    .focus_div {
        background: #444;
        float: left;
        width: 33.33%;
        height:265px;
        background-size: 100% !important;
    }
        .focus_subject {
            padding-top: 48px;
            color: #fff;
            font-size: 27px;
        }
        .focus_article {
            color: #fff;
            margin-top: 20px;
            line-height: 23px;
            font-weight: 200;
        }
        #focus_design {
            background:url("../ch/img/about_us/design_img.jpg");
        }
        #focus_share {
            background:url("../ch/img/about_us/share_img.jpg");
        }
        #focus_community {
            background:url("../ch/img/about_us/community_img.jpg");
        }
#contactus_section {
    
}
    .contactus_subject {
        color:#444444;
        font-size: 50px;
    }
    .contactus_article {
        color:#444444;
        font-size: 22px;
        margin-top: 60px;
    }
    #mailadress {
        color:#48cfad;
    }
    #mailadress:hover{
        text-decoration: underline;
    }
    .contactus_mailbt{
        border: 2px solid #444;
        border-radius: 4px;
        margin-top: 30px;
        display: inline-block;
    }
    .contactus_mailbt i {
        color: #494949;
        padding: 15px 80px;
        font-size: 44px;
    }

@media screen and (max-width: 1024px) {
    #aboutus_figure 
    {
        height: 295px;
        background-size: 1024px auto;
        background-position: 51% 50%;
    }
    .focus_section 
    {
        height:auto;
    }
    .focus_div {
        float:none;
        width:100%;
        height:190px;
        margin-top:10px;
        background-position: 50% 50% !important;
    }
    .focus_subject {
        padding-top:11px;
    }
}