@charset "utf-8";
#addcontent_bt {
	display: none !important;
}
#editor-container {
    position: relative;
    top: 50px;
}
#editor-container > .lubypic-wrapper > .lubypic-header {
	top: 50px;
}
#editor-container > .lubypic-wrapper > .lubypic-body {
	top: 50px;
}
#editor-container > .lubypic-wrapper > .lubypic-body > .lubypic-aside {
	top: 50px;
}
#editor-container > .lubypic-wrapper > .lubypic-body > .editing-background {
	top: 50px;
}