@charset "utf-8";
/*CSS RESET*/

/*main header end*/
/* main section start */

/* reperence common.css
#index_figure {
    background: url(../ch/img/main_Img.png) 0% 47% no-repeat;
    background-size:100%;
    width: 100%;
    height: 350px;
    text-align: center;
}
*/
@media screen and (max-width: 1024px){
    #slide_lnb{
        margin: 0px auto;
        margin-top: 46px;
    }
    #main_search_bar{
        display: none;
    }
}
@media screen and (min-width: 1025px){
    #slide_lnb{
        margin: 0px auto;
    }
    #main_search_bar{
        display: block !important;
    }
}
   
/* main section end */
/* slide section */
#slide_section {
    background: #eeeeee;
    margin: 0px auto;
    padding: 25px;
    position: relative;
}

#slide_lnb {
    width: 573px;
    height: 70px;
    position: relative;
}
    #slide_section #slide_lnb input {
        display: none;
    }
    .la_bt {
        width: 190px;
        height: 40px;
        line-height: 40px;
        display: block;
        float: left;
        text-align: center;
        font-weight: 200;
        margin-top: 15px;
        border-radius: 2px;
        color: #fff;
        margin-left: 1px;
        background: #999999; /* Old browsers */
        background: -moz-linear-gradient(top, #999999 0%, #828282 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#828282)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #999999 0%,#828282 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #999999 0%,#828282 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #999999 0%,#828282 100%); /* IE10+ */
        background: linear-gradient(to bottom, #999999 0%,#828282 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#828282',GradientType=0 ); /* IE6-9 */
    }

    .out {
        background: #999999; /* Old browsers */
        background: -moz-linear-gradient(top, #999999 0%, #828282 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#828282)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #999999 0%,#828282 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #999999 0%,#828282 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #999999 0%,#828282 100%); /* IE10+ */
        background: linear-gradient(to bottom, #999999 0%,#828282 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#828282',GradientType=0 ); /* IE6-9 */
    }

    .over {
        background: #acacac; /* Old browsers */
        background: -moz-linear-gradient(top, #acacac 0%, #999999 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#acacac), color-stop(100%,#999999)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #acacac 0%,#999999 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #acacac 0%,#999999 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #acacac 0%,#999999 100%); /* IE10+ */
        background: linear-gradient(to bottom, #acacac 0%,#999999 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acacac', endColorstr='#999999',GradientType=0 ); /* IE6-9 */
    }

    .clicked {
        background: #48cfad;
    }

    .seemore_bt {
        display: block;
        margin: 0px auto;
        width: 150px;
        height: 30px;
        line-height: 30px;
        background: #fff;
        border-radius: 2px;
        color: #2E82FF;
        text-align: center;
        margin-top: 50px;
    }

        .seemore_bt:hover {
            color: #fff;
            background: #ec6446;
        }
/* slide section end */

/* creators section */
.index_pre_body{
    width: 100%;
    padding: 30px;
    margin-bottom: 35px;
    background: #eeeeee;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
    .index_pre_wrap{
        position: relative;
        display: inline-block;
        width: 100%;
        max-width: 1200px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        background: #ffffff;
    }
    .index_pre_title{
        width: 100%;
        text-align:center;
        margin: 40px 0px;
    }
        .index_pre_title i{
            color: #444444;
            font-size: 80px;
        }
        .index_pre_title article{
            color: #444444;
            font-size: 40px;
            font-weight: 200;
        }
           .index_pre_title article p{
                font-weight: 400;
                font-size: 45px;
            }
    .index_pre_inner{
        width: 100%;
        position: relative;
        display: inline-block;     
    }
#creator_info{
    width: 100%;
    max-width: 1000px;
    position: relative;
    height: 300px;
    margin: 0px auto;
    position:relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
    #creator_info_background{
        width: 100%;
        max-width: 1000px;
        height: 300px;
        background: url(../../contents_data/vectorjpg/12.jpg) no-repeat 50% 46%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-filter: blur(3px) brightness(0.7);
        -moz-filter: blur(3px) brightness(0.7);
        -o-filter: blur(3px) brightness(0.7);
        -ms-filter: blur(3px) brightness(0.7);
        filter: blur(3px) brightness(0.7);
        overflow: hidden;
    }
    #creator_info_p{
        position: absolute;
        top: 48px;
        left: 50%;
        margin-left: -50px;
    }
    #creator_pic_frame{
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
        background: #488ccb;
        margin: 0px auto;
    }
        #creator_pic_frame img{
            width: 100%;
        }
    #creator_info ul{
        width: 100%;
        max-width: 1000px;
        position:relative;
        margin:0px auto;
    }
        #creator_name{
            height:50px;
            font-size: 36px;
            color:#ffffff;
            text-align: center;
            text-shadow: 0px 3px 3px #000;
        }
        #creator_job{
            height:35px;
            font-size:21px;
            color: #ffffff;
            text-align: center;
            font-weight: 200;
        }
        #creator_location{
            height: 14px;
            text-align: center;
        }
            #creator_location p{
                display: inline-block;
                font-size:14px;
                color: #ffffff;
                font-weight: 200;
            }
            #creator_location i{
                display: inline-block;
                color: #ffffff;
                margin-right: 5px;
            }

    #creator_desc{
        width: 100%;
        display: inline-block;
    }
        #creator_desc p{
            margin: 20px 0px;
            font-size: 20px;
            font-weight: 200;
            text-align: center;
            padding: 10px;
        }
.viewmore_bt{
    width: 200px;
    height: 50px;
    line-height: 50px;
    
    border: 1px solid #444444;
    border-radius: 50px;
    background: transparent;
    margin: 30px auto;
    
    text-align: center;
    
    overflow: hidden;
    cursor: pointer;
}
    .viewmore_bt a{
        font-size: 17px;
        font-weight: 200;
        color: #444444;
    }
    .viewmore_bt:hover
    {
        opacity:0.7;
    }
/* creators section */

/* main board */
.forum_cards{
    width: 100%;
}
    .forum_card{
        width: 100%;
    }
    .forum_card_body{
        width: 100%;
        position: relative;
    }
    .forum_card_header{
        width: 100%;
        padding: 20px 30px;
        background: #444444;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .forum_card_info{
        width: 100%;
        position: relative;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
        .forum_card_title{
            color: #fafafa;
            font-size: 35px;
            font-weight: 600;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .forum_card_author{
            color: #fafafa;
            font-size: 20px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    .forum_card_count{
        width: 100%;
        position: relative;
        margin-top: 15px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
        .forum_card_count .real_count{
            display: inline-block;
            min-width: 30px;
            color: #fafafa;
            margin-right: 15px;
        }
            .forum_card_count .real_count i{
                color: #fafafa;
                font-size: 16px;
                margin-right: 10px;
            }
            .forum_card_count .real_count .fa-heart{
                color: #48cfad;
            }
            .forum_card_count .real_count .fa-eye{
                color: #fafafa;
            }
    .forum_card_section{
        padding: 20px;
        background: #ffffff;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .forum_card_section p{
        line-height: 25px;
        font-size: 18px;
        font-weight: 200;
        color: #444444;
        padding: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
/* main board */
