/* slider body */
@media screen and (max-width: 1024px){
    #slider1,#slider2,#slider3{
        background: none;
        border: none;
    }
}
@media screen and (min-width: 1025px){
    #slider1,#slider2,#slider3{
        background: #ffffff;
    }
}

#slider1,#slider2,#slider3{
    position: relative;
    margin: 0px auto;
    margin-bottom: 40px;
    top: 0px;
    left: 0px;
    width:100%;
    height:370px;
    padding: 15px;
}
#slider2,#slider3{
    display: none;
}

#slide_section .slides {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 980px;
    height: 363px;
    overflow: hidden;
}

    #slide_section .slides ul li {
        float:left;
        margin:0px;
        padding:0px;
        cursor:pointer;
        width: 196px;
        height: 186px;
        overflow: hidden;
        transition: opacity 0.4s;
    }

    #slide_section  .slides ul li:hover
    {
        opacity: 0.7;
    }

        #slide_section .slides ul li a img {
            height: 196px;
            margin-left: -15px;
            margin-top: -10px;
        }
/* slider body */

/* slider pager*/

#slide_section  .slider_pager {
    position: absolute;
    bottom: -50px;
    left: 50% !important;
    margin-left: -18px;
}

    #slide_section  .slider_pager div, #slide_section  .slider_pager div:hover, #slide_section  .slider_pager .av {
        position: absolute;
        /* size of bullet elment */
        width: 15px;
        height: 6px;
        background: #999;
        overflow: hidden;
        cursor: pointer;
        border-radius: 10px;
        transition: background 0.4s;
    }

        #slide_section  .slider_pager div:hover, #slide_section  .slider_pager .av:hover {
            background: #d1d1d1;
        }

    #slide_section  .slider_pager .av {
        background: #48cfad;
    }

    #slide_section  .slider_pager .dn, #slide_section  .slider_pager .dn:hover {
        background: #d1d1d1;
    }
/* slider pager*/


/* slider arrow */

#slide_section  .slider_arrow_left, #slide_section  .slider_arrow_right {
    display: block;
    position: absolute;
    width: 30px;
    height: 46px;
    cursor: pointer;
    overflow: hidden;
}

    #slide_section  .slider_arrow_left i, #slide_section  .slider_arrow_right i {
        font-size: 55px;
        color: #7d7d7d;
        transition: color 0.4s;
    }

#slide_section  .slider_arrow_left {
    top: 50%;
    margin-top: -23px;
    left: -50px;    
}

#slide_section  .slider_arrow_right {
    top: 50%;
    margin-top: -23px;
    right: -80px;
}

#slide_section  .slider_arrow_left i:hover {
    color: #a4a4a4;
}

#slide_section  .slider_arrow_right i:hover {
    color: #a4a4a4;
}

/* slider arrow */
