@charset "utf-8";
.con_wrap{
	margin-top: 50px;
}
.doc_wrap_inner{
	max-width: 1000px;
	padding: 70px;
	background: #fafafa;
	text-align: left;
	margin: 30px auto;
}
.doc_body{
	margin: 50px 0px;
	padding-right: 70px;
}
.doc_title{
	padding-bottom: 30px;
	border-bottom: 1px solid #cccccc;
}
	.doc_headline{
		color: #444444;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 20px;
	}
	.doc_title .doc_headline{
		font-size: 35px;
	}
	.doc_content{
		font-size: 15px;
		font-weight: 400;
	}
		.doc_content p{
			color: #444444;
			margin-bottom: 20px;
		}
		.doc_content a{
			color: #48cfad;
			text-decoration: underline;
		}
			.doc_content a:hover{
				opacity: 0.8;
			}
		.doc_content ol{
			margin: 15px 0px;
			margin-left: 20px;
		}
			.doc_content ol li{
				color: #444444;
				list-style: square;
			}