<span id="luby_copyright"><i class="fa fa-copyright"></i>2016 Lubycon</span>
<span id="about_lubycon" class="hidden-mb-ib">
    <span id="about_us_foot"><a href="?dir=pages/view/company/about_us">About us</a></span>
    <span id="contact_us_foot"><a href="mailto:contact@lubycon.com" target="_blank">Contact us</a></span>
</span>
<span id="luby_link">
    <a href="#"><i class="fa fa-facebook-square"></i></a>
    <a href="#"><i class="fa fa-twitter-square"></i></a>
    <a href="#"><i class="fa fa-google-plus-square"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-pinterest-square"></i></a>
    <a href="#"><i class="fa fa-tumblr-square"></i></a>
</span>
<span id="luby_policies" class="hidden-mb-ib">
    <span id="termsOfService_foot"><a href="?dir=pages/view/company/terms_of_service" class="document">Terms of service</a></span>
    <span id="privatePolicy_foot"><a href="?dir=pages/view/company/private_policy" class="document">Private policy</a></span>
</span>
<script type="text/javascript" src="./component/view/index/ui.js"></script>
<script type="text/javascript" src="./component/view/index/mobile.js"></script>
