<div class="editor_popup modal fadeInDown animated"> <!-- popup start -->
    <p>Which content will you upload?</p>
    <ul>
        <li>
            <a href="?dir=pages/view/editor/2d/2d&cate=artwork">
            <i class="fa fa-picture-o"></i>
            <p>Artwork</p>
            </a>
        </li>
        <li>
            <a href="?dir=pages/view/editor/2d/2d&cate=vector">
            <i class="fa fa-object-group"></i>
            <p>Vector</p>
            </a>
        </li>
        <li>
            <a href="?dir=pages/view/editor/3d/3d&cate=threed">
            <i class="fa fa-cube"></i>
            <p>3D Model</p>
            </a>
        </li>
    </ul>
    <button class="modal-closebt" data-value="modal-closebt"></button>
</div><!-- popup end -->


<div id="mb-menu" class="visible-mb"><i class="fa fa-bars"></i></div>
<h1 id="main-logo">
    <a href="./index.php">
        <img class="hidden-mb-ib" src="../asset/img/logo/Lubycon_Logo_Title.svg" />
        <img class="visible-mb" src="../asset/img/logo/Lubycon_Title.svg" />
    </a>
    <span id="beta_version" class="hidden-mb-b">BETA</span><!--beta mark-->
</h1><!--LUBYCON LOGO-->

<nav id="main_gnb" class="hidden-mb-b">
    <ul id="gnb">
        <li class="bigsub">
            <a href="?dir=pages/view/contents/contents_page&cate=0&page=1" class="bigsub_link">
                Contents
            </a>
            <ul class="sub_menu">
                <li>
                    <a href="?dir=pages/view/contents/contents_page&cate=1&page=1"><i class="fa fa-picture-o fa-1x"></i><p>Artwork</p></a>
                </li>
                <li>
                    <a href="?dir=pages/view/contents/contents_page&cate=2&page=1"><i class="fa fa-object-group fa-1x"></i><p>Vector</p></a>
                </li>
                <li>
                    <a href="?dir=pages/view/contents/contents_page&cate=3&page=1"><i class="fa fa-cube fa-1x"></i><p>3D Model</p></a>
                </li>
            </ul>	<!--end Contents menu-->
        </li>
        <li class="menu_bar"></li>
        <li class="bigsub">
            Community
            <ul class="sub_menu">
                <li>
                    <a href="?dir=pages/view/creators/creators&page=1"><i class="fa fa-pencil fa-1x"></i><p>Creators</p></a>
                </li>
                <li><!--forum-->
                    <a href="?dir=pages/view/community/community_page&cate=0&page=1"><i class="fa fa-comments-o fa-1x"></i><p>Forum</p></a>
                </li>
                <li><!--tutorial-->
                    <a href="?dir=pages/view/community/community_page&cate=1&page=1"><i class="fa fa-book fa-1x"></i><p>Tutorial</p></a>
                </li>
                <li><!--Q&A-->
                    <a href="?dir=pages/view/community/community_page&cate=2&page=1"><i class="fa fa-question fa-1x"></i><p>Q&amp;A</p></a>
                </li>
            </ul>	<!--end Community menu-->
        </li>
    </ul> <!-- end gnb ul -->
</nav>	<!--end main_gnb-->
<div id="signin_bt" class="hidden-mb-b signin_class"><!-- before sign in -->
    <div id="signin">
        <a href="?dir=pages/view/sign_in/login_page">
            <p class="signicon"><i class="fa fa-unlock-alt fa-lg"></i></p>
            <p class="signin">SIGN IN</p>
        </a>
    </div>  <!-- end signin -->
</div><!-- before sign in -->
<div id="after_signin" class="hidden-mb-b after_signin_class">   <!-- after sign in -->
        <div id="display_user">
            <figure id="accountImg"><img src="#" alt="profile_img" /></figure>
            <span id="user_id"></span>
            <i class="fa fa-angle-down"></i>
        </div>
    <ul>
        <i class="fa fa-caret-up"></i>
        <div class="userMenuGroup">
            <li><a href="?dir=pages/view/personal_page/personal_page&cate=0&usernum=">
                <i class="fa fa-tachometer fa-1x"></i>Dashboard
            </a></li>
            <li><a href="?dir=pages/view/personal_page/personal_page&cate=1&usernum=&page=1">
                <i class="fa fa-folder-open fa-1x"></i>My Contents
            </a></li>
            <li><a href="?dir=pages/view/personal_page/personal_page&cate=2&usernum=&page=1">
                <i class="fa fa-comments-o fa-1x"></i>My Forums
            </a></li>
            <li><a href="?dir=pages/view/personal_page/personal_page&cate=3&usernum=">
                <i class="fa fa-line-chart fa-1x"></i>Insight
            </a></li>
            <li><a href="?dir=pages/view/personal_page/personal_page&cate=4&usernum=&page=1">
                <i class="fa fa-star fa-1x"></i>Bookmarks
            </a></li>
        </div>
        <div class="userMenuGroup">
            <li><a href="?dir=service/view/resist_password&usernum=">
                <i class="fa fa-gear fa-1x"></i>Account Setting
            </a></li>
            <li><a href="?dir=service/view/password_setting&usernum=">
                <i class="fa fa-lock fa-1x"></i>Password Setting
            </a></li>
            <li id="sign_out"><a href="#">
                <i class="fa fa-power-off fa-1x"></i>Sign Out
            </a></li>
        </div>
    </ul>
</div><!-- end after sign in -->
<button id="addcontent_bt" class="btn after_signin_class hidden-mb-b" data-tip="add content"><i class="fa fa-plus"></i>Add Contents</button>
<!-- langage -->
<div id="lang_select_bt" class="hidden-mb-b" style="display: none;"><!--end content button-->
    <ul>
        <li class="lang_selected">ENG</li>
        <ul class="lang_list">
            <li>CHI</li>
            <li class="selected_language">ENG</li>
            <li>FRA</li>
            <li>GER</li>
            <li>JPN</li>
            <li>KOR</li>
            <li>RUS</li>
            <li>SPA</li>
        </ul>
    </ul>
</div>
<div id="mb-search" class="visible-mb"><i class="fa fa-search"></i></div>
<script type="text/javascript" src="./component/controller/index/header_renderer.js"></script>
