@charset "utf-8";
/*--------------editortool start------------------*/
.dark_overlay {
    z-index: 29999;
}
.editor-hidden {
    display: none;
}
.modal {
    top: 40px;
    left: 40px;
    background: #444444;
}
    .modal.file-selector-modal .file-selector-help {
        position: relative;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 50%;
        margin-left: 10px;
        background: #333333;
        color: #eeeeee;
        font-size: 12px;
    }
.modal-content.texture-modal > .texture-list-wrapper {
    padding: 8px;
    background: #222222;
    border-radius: 3px;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.8);
    text-align: left;
}
    .modal-content.texture-modal > .texture-list-wrapper > .btn {
        display: inline-block;
        position: relative;
        width: 42px;
        height: 42px;
        line-height: 42px;
        margin: 7px;
        border-radius: 3px;
        vertical-align: middle;
        transition: opacity 0.2s;
    }
        .modal-content.texture-modal > .texture-list-wrapper > .btn:hover {
            opacity: 0.7;
        }
        .modal-content.texture-modal > .texture-list-wrapper > .btn.selected {
            border: 1px solid #48cfad;
            box-shadow: 0px 0px 9px 1px rgba(72,207,173,0.8) !important;
        }
        .modal-content.texture-modal > .texture-list-wrapper > .texture-list.btn {

        }
            .modal-content.texture-modal > .texture-list-wrapper > .texture-list.btn .texture-img {
                width: 100%;
            }
            .modal-content.texture-modal > .texture-list-wrapper > .texture-list.btn .texture-name {

            }
        .modal-content.texture-modal > .texture-list-wrapper > .upload-bt.btn {
            border: 2px dashed #eeeeee;
            background: transparent;
        }
            .modal-content.texture-modal > .texture-list-wrapper > .upload-bt.btn > i {
                color: #ffffff;
            }

.modal.thumbnail-modal > .modal-wrapper > .modal-content > .thumb-inner-wrapper {
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.modal.thumbnail-modal > .modal-wrapper > .modal-content > .thumb-inner-wrapper > .thumb-preview-wrapper {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 250px;
    padding: 10px 20px 10px 10px;
    border-right: 1px solid #333333;
    margin-right: 20px;
    overflow: hidden;
}
.modal.thumbnail-modal > .modal-wrapper > .modal-content > .thumb-inner-wrapper > .thumb-img-change {
    position: absolute;
    top: -25px;
    right: 0;
    color: #eeeeee;
    font-size: 14px;
    font-weight: 200;
    cursor: pointer;
}
    .modal.thumbnail-modal > .modal-wrapper > .modal-content > .thumb-inner-wrapper > .thumb-img-change > .fa-refresh {
        margin-right: 5px;
    }
    .modal.thumbnail-modal > .modal-wrapper > .modal-content > .thumb-inner-wrapper > .thumb-img-change:hover {
        text-decoration: underline;
    }
.modal.thumbnail-modal > .modal-wrapper > .modal-content > .thumb-inner-wrapper > .thumb-editor-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: top;
    max-width: 420px;
    min-width: 420px;
    max-height: 500px;
}
    .modal.thumbnail-modal > .modal-wrapper > .modal-content > .thumb-inner-wrapper > .thumb-editor-wrapper > .thumb-placeHolder {
        width: 100%;
        height: 270px;
        line-height: 270px;
        background : #aaaaaa;
        color: #444444;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
    }
        .modal.thumbnail-modal > .modal-wrapper > .modal-content > .thumb-inner-wrapper > .thumb-editor-wrapper > .thumb-placeHolder:hover {
            opacity: 0.8;
        }
    .modal.thumbnail-modal > .modal-wrapper > .modal-content > .thumb-inner-wrapper > .thumb-editor-wrapper img.thumb-origin-img {
        width: 100%;
    }
.modal.setting-modal > .modal-wrapper > .modal-content > .setting-inner-wrapper {
    width: 700px;
    text-align: left;
    margin-top: 20px;
}
    .setting-inner-wrapper .setting-input-label {
        font-size: 14px;
        color: #eeeeee;
        font-weight: 200;
        margin-bottom: 10px;
    }
    .setting-inner-wrapper .setting-input {
        width: 300px;
        padding: 5px 10px;
        background: #222222;
        color: #eeeeee;
        font-weight: 200;
        font-size: 14px;
        border: none;
        border-radius: 3px;
        box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.7);
    }
    .setting-inner-wrapper .setting-input.cc-inner-wrapper {
        text-align: center;
        height: 44px;
        padding: 10px;
    }

    .setting-inner-wrapper textarea {
        width: 300px;
        height: 130px;
        padding: 5px 10px;
        background: #222222;
        color: #eeeeee;
        font-weight: 200;
        font-size: 14px;
        border: none;
        border-radius: 3px;
        box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.7);
        resize: none;
    }
        .setting-inner-wrapper .setting-input > * {
            color: #eeeeee;
            font-weight: 200;
            font-size: 14px;
            vertical-align: middle;
        }
        .setting-input > input {
            width: 100px;
            background: transparent;
            color: #eeeeee;
            font-weight: 200;
            font-size: 14px;
            border: none;
        }
    .modal.setting-modal > .modal-wrapper > .modal-content > .setting-inner-wrapper > .setting-inner-left {
        display: inline-block;
        width: 50%;
        min-height: 100px;
        padding: 0px 15px;
        border-right: 1px solid #333333;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        vertical-align: top;
    }
    .modal.setting-modal > .modal-wrapper > .modal-content > .setting-inner-wrapper > .setting-inner-right {
        display: inline-block;
        width: 50%;
        min-height: 100px;
        padding: 0px 15px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
        .modal.setting-modal > .modal-wrapper > .modal-content > .setting-inner-wrapper .setting-input-wrapper {
            margin: 10px 0px;
        }
        .modal.setting-modal > .modal-wrapper > .modal-content > .setting-inner-wrapper .setting-input-wrapper > .cc-setting-bt {
            color: #eeeeee;
            font-size: 13px;
            font-weight: 200;
            cursor: pointer;
            text-align: right;
            margin-top: 8px;
        }
            .modal.setting-modal > .modal-wrapper > .modal-content > .setting-inner-wrapper .setting-input-wrapper > .cc-setting-bt > i {
                margin-right: 5px;
            }
            .modal.setting-modal > .modal-wrapper > .modal-content > .setting-inner-wrapper .setting-input-wrapper > .cc-setting-bt:hover {
                text-decoration: underline;
            }
        .modal.setting-modal > .modal-wrapper > .modal-content > .setting-inner-wrapper .setting-inner-right .cc-list-wrapper {
            margin-top: 5px;
        }
        .modal.setting-modal > .modal-wrapper > .modal-content > .setting-inner-wrapper .setting-inner-right .cc-list {
            position: relative;
            width: 35px;
            display: inline-block;
            margin: 0px 8px;
        }
            .modal.setting-modal > .modal-wrapper > .modal-content > .setting-inner-wrapper .setting-inner-right .cc-list > img {
                width: 100%;
            }
    .hashTag-input-wrap .hashtag-wrapper {
        display: inline-block;
        text-align: left;
    }  
    .hashTag-input-wrap .hashtag-wrapper > .hashtag-list {
        position: relative;
        display: inline-block;
        max-width: 80px;
        height: 16px;
        color: #eeeeee;
        font-size: 13px;
        font-weight: 200;
        padding: 3px 20px 3px 5px;
        margin-right: 4px;
        border-radius: 3px;
        border: 1px solid #111111;
        background: #222222;
        box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
        word-wrap: break-word;
        overflow: hidden;
        cursor: default;
    }
        .hashTag-input-wrap .hashtag-wrapper > .hashtag-list > i {
            position: absolute;
            top: 6px;
            right: 5px;
            color: #cccccc;
            font-size: 12px;
            margin-left: 6px;
            cursor: pointer;
        }
    .modal.cc-setting-wrapper {
        width: 580px;
        padding: 15px;
        padding-top: 32px;
    }
    .modal.cc-setting-wrapper > .cc-setting-inner-wrapper {
        padding: 0px;
        border: 1px solid #222222;
        border-radius: 5px;
        overflow: hidden;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .modal.cc-setting-wrapper > .cc-setting-inner-wrapper .cc-title-wrapper {
        padding: 10px;
        background: #666666;
    }
        .modal.cc-setting-wrapper > .cc-setting-inner-wrapper .checkbox-wrapper {
            margin-right: 10px;
        }
        .modal.cc-setting-wrapper > .cc-setting-inner-wrapper .cc-title-wrapper > input[type="radio"] {
            margin-top: 6px;
            margin-right: 12px;
            vertical-align: top;
        }
        .modal.cc-setting-wrapper > .cc-setting-inner-wrapper .cc-title-wrapper > .cc-title {
            color: #eeeeee;
            font-size: 20px;
            font-weight: 200;
        }
    .modal.cc-setting-wrapper > .cc-setting-inner-wrapper .cc-checklist-wrapper {
        padding: 10px;
        background: #333333;
        box-shadow: inset 0px 0px 200px 0px rgba(0,0,0,0.7);
    }
        .modal.cc-setting-wrapper > .cc-setting-inner-wrapper .cc-checklist-wrapper > .cc-checklist {
            margin: 10px 0px;
        }
        .modal.cc-setting-wrapper > .cc-setting-inner-wrapper .cc-checklist-wrapper > .cc-checklist > .cc-checkbox {
            margin-right: 12px;
        }
        .modal.cc-setting-wrapper > .cc-setting-inner-wrapper .cc-checklist-wrapper > .cc-checklist > .cc-desc {
            color: #eeeeee;
            font-size: 14px;
            font-weight: 200;
        }

.editor-wrapper{
    position: relative;
    width: 100%;
}
.editor-wrapper > .editor-header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: #4a4a4a;
    z-index: 202;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}
.editor-wrapper > .editor-body{
    position: relative;
    width: 100%;
    height: 100%;
    background: #222222;
}
    .editor-body > .editor-aside{
        position: fixed;
        left: 0;
        top: 0;
        width: 50px;
        height: 100%;
        margin-top: 50px;
        padding-top: 20px;
        background: #333333;
        z-index: 201;
        box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.5);
        text-align: center;
        border-right: 1px solid #222222;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .editor-body > .editor-aside > .toolbox-wrap {
        position: fixed;
        display: inline-block;
        top: 50px;
        left: 50px;
        padding: 10px;
        margin-top: 50px;
        padding-top: 20px;
        min-width: 300px;
        height: 100%;
        background: #282828;
        z-index: 90;
        box-shadow: 3px 5px 10px -3px rgba(0,0,0,0.6);
        text-align: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .editor-body > .editor-aside > .toolbox-wrap.modal {
        position: fixed;
        display: inline-block;
        top: 40px;
        left: 40px;
        padding: 0;
        z-index: 10000;
        min-width: 450px;
        min-height: 300px;
        height: auto;
        border-radius: 5px;
        box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.7);
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
        .editor-body > .editor-aside > .toolbox-wrap > .toolbox-title {
            font-size: 18px;
            color: #48cfad;
            margin-bottom: 10px;
        }
        .editor-body > .editor-aside > .toolbox-wrap > .toolbox-inner {
            position: relative;
            background: transparent;
            text-align: left;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #444444;
        }
        .editor-body > .editor-aside > .toolbox-wrap.modal > .toolbox-inner {
            position: relative;
            width: 100%;
            margin-top: 20px;
        }
            .editor-body > .editor-aside > .toolbox-wrap > .toolbox-inner.btn {
                width: 100%;
                height: auto;
                line-height: normal;
                margin: 0px;
                margin-bottom: 10px;
            }
                .editor-body > .editor-aside > .toolbox-wrap > .toolbox-inner.btn:hover {
                    box-shadow: none;
                    background: #444444;
                }
                .editor-body > .editor-aside > .toolbox-wrap > .toolbox-inner.btn.selected {
                    border: 1px solid #48cfad;
                }
        .editor-body > .editor-aside > .toolbox-wrap.modal > .modal-wrapper > .toolbox-inner {
            width: 100%;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            margin: 15px auto;
        }

            .toolbox-inner .toolbox-label-wrapper {
                position: relative;
            }
                .toolbox-inner .toolbox-label {
                    display: inline-block;
                    font-size: 15px;
                    color: #555555;
                    font-weight: 200;
                    margin-bottom: 10px;
                }
                    .toolbox-inner.btn.radioType .toolbox-label {
                        color: #dddddd;
                    }
                .toolbox-inner .checkbox-wrapper{
                    float: right;
                }

                .toolbox-btns > .btn {
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    vertical-align: middle;
                    margin: 0px 5px
                }
                    .toolbox-btns > .btn > i {
                        font-size: 13px;
                        color: #ffffff;
                    }

            .toolbox-inner .toolbox-tab-bt-wrapper {
                margin-bottom: 10px;
            }
            .toolbox-inner .toolbox-btns {
                text-align: center;
            }
                .toolbox-tab-bt-wrapper .toolbox-tab.btn {
                    display: inline-block;
                    width: 50%;
                    height: 30px;
                    line-height: 30px;
                    font-size: 14px;
                    font-weight: 200;
                    border-radius: 0px;
                    color: #aaaaaa;
                }
                .toolbox-wrap[data-value='backgroundTool'] .toolbox-tab-bt-wrapper .toolbox-tab.btn {
                    width: 33.3%;
                }
                .toolbox-wrap[data-value='lightTool'] .toolbox-tab-bt-wrapper .toolbox-tab.btn {
                    width: 33.3%;
                }
     
            .toolbox-inner input[type="range"] {
                width: 150px;
            }
            .toolbox-inner .lubySelector {
                margin: 7px 0px;
            }
                .toolbox-inner > .lubySelector > .ls_optionWrap {
                    overflow: visible;
                }
            .toolbox-inner .toolbox-controller .sp-replacer {
                width: 30px;
                height: 30px;
                margin: 7px 14px 7px 0px;
            }
            .toolbox-inner .toolbox-controller .material-control-viewer .sp-replacer {
                display: none;
            }
        .toolbox-inner > .toolbox-controller {
            position: relative;
        }
            .toolbox-inner > .toolbox-controller .tooltip img {
                width: 400px;
                height: 300px;
                margin: 5px 0px;
                vertical-align: middle;
            }
            .toolbox-inner > .toolbox-controller > .material-control-inner > .material-control-panel > .material-control-viewer {
                position: relative;
                display: inline-block;
                vertical-align: middle;
            }
                .material-control-viewer > img {
                    width: 30px;
                    height: 30px;
                    margin: 7px 14px 7px 0px;
                    vertical-align: middle;
                    cursor: pointer;
                    transition: opacity 0.2s;
                }
                    .material-control-viewer > img:hover {
                        opacity: 0.6;
                    }
            .toolbox-controller .light-setting-list-label {
                display: inline-block;
                width: 42px;
                margin-right: 10px;
                color: #dddddd;
                font-size: 12px;
                font-weight: 200;
            }
            .toolbox-controller .light-setting-list {
                display: inline-block;
            }

        
    .editor-body > .editing-background{
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: #2a2a2a;
        box-shadow: inset 0px 0px 370px 0px #000000;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        z-index: 50;
    }
        .editor-body > .editing-area {
            position: relative;
            width: 100%;
            height: 100%;
            padding-left: 50px;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            z-index: 51;
        }
            .editor-body > .editing-area > #web-gl {
                position: relative;
                z-index: 200;
            }
                .editor-body > .editing-area > #web-gl > .capture-btn {
                    position: fixed;
                    z-index: 101;
                    top: 110px;
                    right: 10px;
                    width: 100px;
                    height: 35px;
                    line-height: 13px;
                    background: transparent;
                    color: #ffffff;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 200;
                    border: 1px solid #ffffff;
                    padding: 10px;
                    cursor: pointer;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    transition: background 0.2s;
                }
                    .editor-body > .editing-area > #web-gl > .capture-btn:hover {
                        background: rgba(0,0,0,0.5);
                    }
            .editor-body > .editing-area > #web-gl > .tooltip.tip-body.fileinfo {
                position: fixed;
                z-index: 10000;
                top: 155px;
                right: 10px;
                background: rgba(0,0,0,0.6);
                text-align: left;
            }
                .editor-body > .editing-area > #web-gl > .tooltip.tip-body.fileinfo .tooltip.tip-content.fileinfo {
                    text-align: left;
                }
            .editor-body > .editing-area > #canvas-background {
                position: absolute;
                z-index: 100;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                background: #222222;
                box-shadow: inset 0px 0px 140px 0px rgba(0,0,0,0.6);
            }
                .editor-body > .editing-area > #canvas-background > #canvas-background-logo {
                    position: absolute;
                    width: 300px;
                    height: 300px;
                    top: 50%;
                    margin-top: -150px;
                    left: 50%;
                    margin-left: -100px;
                    background-image: url(../../../../ch/img/logo/Lubycon_logo_black.svg);
                }

.header-btn-wrapper {
    display: inline-block;
    float: left;
}
.header-prog-wrapper {
    display: inline-block;
    float: right;
}
    .current-prog {
        color: #ffffff !important;
        border-bottom: 3px solid #48cfad;
        text-shadow: 0px 0px 10px rgba(255,255,255,0.7);
    }
        .current-prog > i {
            color: #ffffff !important;
        }
.header-btn {
    position: relative;
    display: inline-block;
    min-width: 100px;
    height: 50px;
    line-height: 53px;
    padding: 0px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 200;
    color: #aaaaaa;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
    .header-btn-wrapper > .header-btn {
        border-right: 1px solid #333333;
    }
    .header-prog-wrapper > .header-btn {
        border-left: 1px solid #333333;
        letter-spacing: 0.01px;
    }
    .header-btn:hover {
        background: #5a5a5a;
    }
    .header-btn > i {
        margin-top: -3px;
        margin-right: 10px;
        color: #222222;
        font-size: 20px;
        vertical-align: middle;
    }

.btn {
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 45px;
    margin: 0px auto;
    padding: 0;
    border: none;
    background: #333333;
    color: #5a5a5a;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: pointer;
}
    .btn.selected {
        background: #222222 !important;
        box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5) !important;
        color: #ffffff !important;
        text-shadow: 0px 0px 10px rgba(255,255,255,0.7);
    }
    .btn:hover{
        background: #444444;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    }
    .btn:active{
        background: #222222;
        box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
    }
    .btn > i {
        font-size: 18px;
    }
/*--------------editortool end------------------*/
.slider-wrapper{
    width: 200px !important;
}
    .slider-wrapper > .slider-text {
        display: none;
    }
.material-control-panel .slider-wrapper {
    display: none;
}